@using WebAppTest.Models
@model IEnumerable<Car>

@{
    ViewData["Title"] = "Таблица: Машины";
}
<h5>Таблица: Машины</h5>

<table border="1">
    <thead>
        <th style="border: 1px outset rgb(0, 0, 0);">Номер</th>
        <th style="border: 1px outset rgb(0, 0, 0);">Бренд</th>
        <th style="border: 1px outset rgb(0, 0, 0);">Модель</th>
        <th style="border: 1px outset rgb(0, 0, 0);">Цвет</th>
    </thead>
    <tbody>
    @foreach (Car car in Model)
    {
        <tr>
            <td style="border: 1px outset rgb(0, 0, 0);">
                <form method="get">
                    <input type="hidden" name="number" value=@car.Number>
                    <input type="text" name="newNumber" value=@car.Number />
                </form>
            </td>
            <td style="border: 1px outset rgb(0, 0, 0);">
                <form method="get">
                        <input type="hidden" name="number" value=@car.Number>
                        <input type="text" name="brand" value=@car.Brand />
                </form>
            </td>
            <td style="border: 1px outset rgb(0, 0, 0);">
                <form method="get">
                    <input type="hidden" name="number" value=@car.Number>
                    <input type="text" name="model" value=@car.Model />
                </form>
            </td>
            <td style="border: 1px outset rgb(0, 0, 0);">
                <form method="get">
                    <input type="hidden" name="number" value=@car.Number>
                    <input type="text" name="color" value=@car.Color />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
