@using WebAppTest.Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Тест использования ASP</h2>
    <h2>User form</h2>
    <form method="get">
        <p>Name: <input name="name" /></p>
        <p>Age: <input name="age" type="number" /></p>
        <input type="submit" value="Send" />
    </form>
    <h2 class="cl1"></h2>
    <h2>User form</h2>
    <form method="get">
        <input type="text" id="uname" name="name" value="Lower case, all one word"/>
    </form>
</div>
